@page
@model SilviaSalgadosWebApp.Pages.Account.LoginModel
@{
    Layout = "_EmptyLayout";
}

@section CSS {
    <link rel="stylesheet" href="~/css/Account/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_emptyLayout.css" asp-append-version="true" />
}

<header class="py-3 d-flex align-items-center justify-content-between">
    <div class="d-flex">
        <a asp-page="/Index" class="logo_link d-flex flex-column text-decoration-none">
            <span class="logo_silvia fw-bold">Silvia</span>
            <span class="logo_salgados ms-3 fw-bold">Salgados</span>
        </a>
    </div>
    <div class="d-flex gap-2 align-items-center">
        <a href="https://www.instagram.com/salgadossilviamp?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><img class="social_media" src="~/assets/icons/instagram-1-svgrepo-com.svg" /></a>
        <a href="#" target="_blank"><img class="social_media" src="~/assets/icons/whatsapp-svgrepo-com.svg" /></a>
    </div>
</header>

<div class="h-100 d-flex align-items-center justify-content-around">
    <div>
        <img src="~/assets/background-coxinha.png" alt="Alternate Text" />
    </div>
    <div class="form_container p-5">
        <form class="text-white d-flex flex-column justify-content-between h-100" method="post" autocomplete="off">
            <h1 class="text-white text-center">Login</h1>
            <div class="d-flex flex-column gap-3">
                <div>
                    <label for="userEmail" class="form-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Digite o seu email registrado">
                </div>
                <div>
                    <div class="d-flex align-items-center justify-content-between">
                        <label class="form-label" for="userPassword">Senha</label>
                        <div class="toggle_password mb-2">
                            <img id="eye_icon" src="~/assets/icons/hidePassword.svg" />
                        </div>
                    </div>
                    <input asp-for="Senha" type="password" class="form-control" id="userPassword" placeholder="Digite a sua senha registrada">
                </div>
            </div>
            <div class="text-center">
                <p class="mb-0">Ainda não possui uma conta?</p>
                <a class="register_link fw-bold" asp-page="/Account/Register">Cadastre-se</a>
            </div>
            <button type="submit" class="btn_login">Entrar <img src="~/assets/icons/logout-svgrepo-com.svg" alt="Login Icon" /></button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Account/login.js"></script>
}