:root {
    --background-dark: #2F2F2F;
    --background: #fffafa;
    --text-dark: #fff;
    --text-light: #2F2F2F;
    --primary-color: #3A6633;
    --secondary-color: #E6C321;
    --button-principal: #D98A29;
}

* {
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

html, body {
    height: 100%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
}

.hidden {
    opacity: 0;
    transition: all .5s ease-in;
}

.show {
    opacity: 1;
}